html {
  height: 100%;
  box-sizing: border-box;
width: 100dvw;
overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  background-color: #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  padding: 10px 0;
  margin-top: 30px;
  text-align: center;
  font-size: 0.6rem;
  cursor: pointer;
}

header svg {
  fill: white;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 15px;
  width: 50%;
  box-sizing: border-box;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#search-box svg {
  position: absolute;
  left: 15px;
}

#search input[type="text"] {
  width: 100%;
  font-size: 1rem;
  padding: 10px 30px;
  border-width: 0;
  outline: none;
}

#searchButton {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchButton:hover {
  background: #555;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.profile-name {
  margin: 0px;
  color: #1F2328;
  font-size: 1.4rem;
  font-weight: 700;
}

.profile-nickname {
  margin: 0px;
  color: #6A737D;
  font-size: 1rem;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 1px solid #D0D7DE;
}

.view-profile-btn {
  display: block;
  width: 100%;
  text-align: center;
  background: #F6F8FA;
  color: #24292F;
  border: 1px solid rgba(31, 35, 40, 0.2);
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 0.9rem;
  text-decoration: none;
  border-radius: 8px;
  box-sizing: border-box;
}

.view-profile-btn:hover {
  background: #EAEAEB;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#repositories {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  padding: 0px 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repo-list {
  list-style-type: none;
  padding: 0;
}

.repo-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.repo-item:last-child {
  border-bottom: none;
}

.repo-item h3 {
  margin: 0 0 15px 0;
  padding: 0;
}

.repo-item span {
  display: inline-block;
  margin-right: 20px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  flex-shrink: 0;
  /* bottom: 0; */
  width: 100%;
  height: 50px;
  color: #656D76;
  border-top: 1px solid #D0D7DE;
  padding: 10px 20px;
  font-size: 0.9rem;
}